.thumb {
  font-size: 0;
  line-height: 0;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }

  &.contain img {
    object-fit: contain;
  }


  &.cover img {
    object-fit: cover
  }


  &.fill img {
    object-fit: fill;
  }
}
